psql:
  user: <your-psql-username>
  password: <your-psql-password>
  host: <your-psql-host>
  dbname: <your-psql-database-name>

aws:
  access_key_id: <your-aws-id>
  secret_access_key: <your-aws-key>
  region: <your-aws-bucket-region>
  bucket: <your-aws-bucket-name>

# A new secret key can be generated using ```rake secret``` in the root directory
secret_key_base: <generate-new-key>